@keyframes t{
    from {background-size:0 200%}
}

@keyframes b{
    50% {background-position:0 -100%,0 0
    }    
}

@keyframes fadeIn { 
    from { 
        opacity: 0; 
    } 
    to { 
        opacity: 1; 
    } 
} 

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}


html, body {
    width: 100%;
}

.nav > .nav-item > .nav-link {
    color: #000000
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 0px;
}

.main-content {
    height: 100vh;
    padding: 0px;
}

.main-content>.row {
    padding: 0px;
    margin: 0px;
}

.main-content>.page-container {
    height: 100%;
    overflow-y: scroll;
}

.main-content>#navbar-main {
    background-color: #ffffff !important;
}

.main-content>.page-container>.page {
    /* height: fit-content; */
    height: 1000px;
}

.padding-row {
    width: 100%;
    height: 58px;
}

.main-content>.page-container>.page>.page-content {
    width: 100%;
    height: 100%;
}

.profile-pic {
    animation: 1s ease-out fadeIn, 
                1s ease-out 0s 1 slideInFromLeft;
    text-align: center;
}

.profile-pic > img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.profile-intro {
    animation: 1s ease-out fadeIn, 
                1s ease-out 0s 1 slideInFromRight;
}

.vl {
    animation: 1s ease-out fadeIn;
    border-left: 6px solid green;
    height: 500px;
    padding: 40px;
}

.type {
    color:#0000;
    background:
        linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
        linear-gradient(#000000 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: b .7s infinite steps(1), t calc(var(--n)*.04s) steps(var(--n)) forwards;
}

.catchy-line {
    font-weight: 100;
    font-size: 25px;
}

.read-more {
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    html, body {
        height: fit-content;
    }

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .profile-pic {
        text-align: center;
    }
    
    .profile-pic > img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}